<section class="why-us section">

    <div class="container">

        <app-section-title

            subtitle="Why Choose Us"

            title="Experience Luxury Like Never Before"

            description="We provide premium salon services with experienced professionals and world-class products.">

        </app-section-title>

        <div class="why-grid">

            <div class="why-card">

                <div class="icon">

                      <mat-icon>content_cut</mat-icon>

                </div>

                <h3>Expert Stylists</h3>

                <p>

                    Certified professionals with years of experience.

                </p>

            </div>

            <div class="why-card">

                <div class="icon">

                     <mat-icon>spa</mat-icon>

                </div>

                <h3>Premium Products</h3>

                <p>

                    We use only trusted international brands.

                </p>

            </div>

            <div class="why-card">

                <div class="icon">

                   <mat-icon>calendar_month</mat-icon>

                </div>

                <h3>Easy Booking</h3>

                <p>

                    Book appointments online in just a few clicks.

                </p>

            </div>

            <div class="why-card">

                <div class="icon">

                    <mat-icon>favorite</mat-icon>

                </div>

                <h3>Customer First</h3>

                <p>

                    Personalized beauty experience for everyone.

                </p>

            </div>

        </div>

    </div>

</section>