@use './variables' as *;

h1,h2,h3,h4,h5{

    font-family:'Playfair Display',serif;

    color:$text-dark;
}

body{

    font-family:'Poppins',sans-serif;

    color:$text-light;

    background:$background;
}