<div class="booking-modal">
    <!-- Close Button -->
    <button class="close-btn" (click)="close()">
       <mat-icon>close</mat-icon>
    </button>
    <!-- Left Side -->
    <div class="left">
        <img
            src="assets/images/Book Your Beauty Appointment.png"
            alt="Salon">
        <div class="overlay">
            <h2>
                Because You Deserve
                To Look Beautiful
            </h2>
            <p>
                Book your appointment today.
            </p>
        </div>
    </div>
    <!-- Right Side -->
    <div class="right">
        <app-appointment-form></app-appointment-form>
    </div>
</div>