<section class="hero" id="home">
  <div class="container hero-content">
    <div class="hero-left">
      <span class="badge">
        ✨ Premium Luxury Salon
      </span>
      <h1>
        Transform Your Style
        <span>with Confidence</span>
      </h1>
      <p>
        Experience premium hair styling, skincare,
        makeup and spa services delivered by
        experienced professionals.
      </p>
      <div class="hero-buttons">
        <button class="btn-primary" (click)="openBooking()">
          Book Appointment
        </button>
      </div>
    </div>
    <div class="hero-right">
     <div class="image-wrapper">
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <img src="assets/images/hero-salon.png" alt="Salon">
      </div>
    </div>
  </div>
</section>