<section class="hero" id="home">
  <div class="container hero-content">
    <div class="hero-left">
      <span class="badge">
        ✨ Premium Unisex Salon
      </span>

      <h1> Transform Your Style with Confidence </h1>
      <p> Discover premium hair, beauty and spa services
        delivered by experienced professionals.
      </p>
      <div class="hero-buttons">
        <button class="btn-primary"> Book Appointment </button>
        <button class="btn-outline"> Explore Services </button>
      </div>
    </div>

    <div class="hero-right">
      <img
        src="assets/images/hero-salon.png"
        alt="Salon">
    </div>
  </div>
</section>