mat-dialog-content{

    width:650px;

    max-width:100%;

    padding-top:10px;
}

.add-section{

    display:grid;

    grid-template-columns:1fr 1fr auto;

    gap:16px;

    align-items:center;

    margin-bottom:24px;

}

.add-btn{

    height:56px;

    background:#C8A35F !important;

    color:white !important;

}

.employee-list{

    display:flex;

    flex-direction:column;

    gap:16px;

}

.employee-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px;

    border:1px solid #ECECEC;

    border-radius:14px;

    transition:.3s;
}

.employee-card:hover{

    background:#FAFAFA;

}

.left{

    display:flex;

    gap:16px;

    align-items:center;

}

.avatar{

    width:50px;

    height:50px;

    border-radius:50%;

    background:#C8A35F;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:20px;

    font-weight:600;

}

h4{

    margin:0;

}

span{

    color:#6B7280;

    font-size:14px;

}

@media(max-width:768px){

.add-section{

grid-template-columns:1fr;

}

}