<div class="login-page">

    <mat-card class="login-card">

        <div class="logo">
            Pearl<span>Cut</span>
        </div>

        <h2> Welcome Back 👋</h2>

        <p> Login to manage today's appointments. </p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field appearance="outline">
                <mat-label>Employee ID / Mobile </mat-label>
                <input matInput formControlName="username">
                <mat-icon matPrefix> person </mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Password </mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'"
                    formControlName="password">
                <button mat-icon-button matSuffix
                    type="button" (click)="hidePassword=!hidePassword">
                    <mat-icon> {{hidePassword ? 'visibility_off' : 'visibility'}} </mat-icon>
                </button>
            </mat-form-field>

            <button
                mat-flat-button
                class="login-btn"
                type="submit">

                Login

            </button>

        </form>

    </mat-card>

</div>